$theme-color: rgb(20, 20, 20);
$primary-color: rgb(24, 24, 24);
$secondary-color: rgb(32, 32, 32);
$accent-color: rgb(0, 51, 133);
$reverse-color: rgb(240, 240, 240);
$disabled-color: rgb(90, 90, 90);
